{#
  template for the Content Type Class Note
  #}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  
  {% if content.content_moderation_control %}
  {{ content.content_moderation_control }}
  {% endif %}

  <div class="container">
  
  {% if content.field_media['#items'].getValue() %}
    <div class="class-note-media float-md-left mr-md-3 mb-md-3">
    {{ content.field_media }}
    </div>
  {% endif %}
  
  <div class="class-note-name text-uppercase">{{ label }}</div>
  <div class="class-note-year text-uppercase">{{ content.field_year }}</div>
  <div class="class-note-school text-uppercase">{{ content.field_school }}</div>
  <div class="class-note-body">{{ content.body }}</div>
    
  </div>
  
</article>