{%
  set classes = [
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}
{% if attributes.region == 'sidebar_first' %}
  {% set classes = classes|merge(['sidebar-nav']) %}
{% else %}
  {% set classes = classes|merge(['block', 'block-menu']) %}
{% endif %}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('sr-only') %}
  {% endif %}
  {{ title_prefix }}
  <h3{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h3>
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>